<div class="container-fluid" ng-controller="HomeController as vm">
    <div class="row">
        <div class="col-sm-12">
            <div class="panel">
                <div class="panel-body">
                    
                    <div class="row">
                        <div class="col-sm-4">
                            <button type="submit" class="btn btn-danger btn-lg btn-block" ng-click="vm.denunciaPage()"><i
                                class="fa fa-bullhorn fa-5x"></i><br><br>Denúncia</button>
                        </div>
                        <div class="col-sm-4">
                            <button type="submit" class="btn btn-facebook btn-lg btn-block" ng-click="vm.sugestaoPage()"><i
                                class="fa fa-comment fa-5x"></i><br><br>Sugestão</button>
                        </div>
                        <div class="col-sm-4">
                            <button type="submit" class="btn btn-twitter btn-lg btn-block" ng-click="vm.solicitacaoPage()"><i
                                class="fa fa-info fa-5x"></i><br><br>Solicitação</button>
                                <br>
                        </div>
                        <div class="col-sm-4">
                            <button type="submit" class="btn btn-github btn-lg btn-block" ng-click="vm.reclamacaoPage()"><i
                                class="fa fa-thumbs-o-down fa-5x"></i><br><br>Reclamações</button>
                        </div>
                        <div class="col-sm-4">
                            <button type="submit" class="btn btn-success btn-lg btn-block" ng-click="vm.elogioPage()"><i
                                class="fa fa-thumbs-o-up fa-5x"></i><br><br>Elogio</button>
                        </div>
                        <div class="col-sm-3">
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>